.form-footer {
  width: 570px;
  height: 86px;

  &__btn:hover,
  &__btn:focus {
  background-color: var(--hover-color-one);
}
}

.form-footer__header {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--background-color-two);
  margin-bottom: 20px;
  display: block;
}

.form-footer__field {
  display: flex;

  & input {
  width: 358px;
  height: 50px;
  color: var(--background-color-two);
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
}
}

.form-footer__field input {
  width: 358px;
  height: 50px;
  color: var(--background-color-two);
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
}

.form-footer__btn {
  width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  margin-left: 12px;
  padding-left: 48px;
  align-content: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--background-color-two);
  background-color: var(--brand-color);
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__icon {
  fill: var(--background-color-two);
  margin-left: 20px;
  margin-right: 28px;
  min-width: 24px;
}

