.logo {
  text-transform: capitalize;
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  margin-right: 93px;
  display: flex;
  align-items: center;

  &__part {
  text-transform: capitalize;
  color: var(--font-color-one);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
}
}

.logo--footer {
  margin-bottom: 9px;
}

.logo__part--footer {
  color: var(--background-color-two);
}
